<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpd8woroUyZZrxdTNbDEN--arxK58zNe4</string>
	<key>GCM_SENDER_ID</key>
	<string>782975060697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.ios-demo</string>
	<key>PROJECT_ID</key>
	<string>ios-demo-2b149</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-demo-2b149.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782975060697:ios:aa1d21fbe639a8d29bccc8</string>
</dict>
</plist>